.root {
  color: var(--contrast-font-color);
  background-color: var(--contrast-background);
  padding: 8px;
  box-sizing: border-box;
  flex: 0 0 calc(33.33% - 16px);
  max-width: 500px;
  height: 69px;
  margin-bottom: 16px;
  border-radius: 3px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .root {
    flex: 0 0 calc(50% - 16px);
  }
}

@media screen and (max-width: 500px) {
  .root {
    flex: 0 0 100%;
  }
}

.detailsView {
  min-height: 180px;
}

.detailsButton {
  color: var(--contrast-font-color);
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsButton i {
  font-size: 14px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top a {
  flex: 0 1 80%;
}

.typeIcon {
  width: 16px;
  height: 100%;
  display: flex;
}

.v2 {
  margin-left: 2px;
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--positive-color-contrast);
  background-color: var(--positive-color);
}

.buildError {
  background-color: var(--negative-color);
}

.buildReady {
  padding: 2px;
  color: var(--positive-color-contrast);
  background-color: var(--positive-color);
}
