.splash {
  text-align: center;
}

.splash > div:first-of-type {
  background-color: white;
  padding: 8px;
  max-width: 500px;
  border-radius: 3px;
  margin: 0 auto;
}

.splash img {
  width: 100%;
}

.splash button {
  margin-top: 16px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
