.splash {
  text-align: center;
}

.splash > div:first-of-type {
  background-color: var(--contrast-background);
  padding: 8px;
  max-width: 500px;
  border-radius: 3px;
  margin: 0 auto;
}

.splash img {
  width: 100%;
}
