.AppRoot {
  font-family: monospace;
  margin: 16px;
}

@media screen and (min-width: 500px) {
  .source {
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .titleHeader {
    max-width: 50%;
  }

  .source a {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.upperRightCornerBox {
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
}
