.themePicker {
  color: var(--font-color);
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  z-index: 2;
}

.themePicker button {
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  color: var(--contrast-font-color);
  background-color: var(--contrast-background);
  border-radius: 3px;
  margin-bottom: 2px;
}

.themePicker button:hover {
  color: var(--accent-contrast-color);
  background-color: var(--accent-color);
}

.optionsBox {
  position: absolute;
  left: -6px;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.optionsBox .selectedOption {
  background-color: var(--positive-color-contrast);
  color: var(--positive-color);
}
